<html>
<head>
    <title>homepage</title>
</head>
<body>
    <h1>title</h1>
    <p>hello!</p>
    <p th:text="'The current time is: ' + ${currenttime}" />
    <form action="/crew/" method="POST">
        <label>Name: <input type="text" name="name" /></label>
        <label>Rank: <input type="text" name="rank" /></label>
        <label>Shirt Color: <input type="text" name="shirtColor" /></label>
        <input type="submit">
    </form>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Shirt Color</th>
            <th>votes</th>
            <th>upvote</th>
        </tr>
        <tr th:each="crew : ${crew}">
            <td th:text="${crew.name}"></td>
            <td th:text="${crew.rank}"></td>
            <td th:text="${crew.shirtColor}"></td>
            <td th:text="${crew.votes}"></td>
            <td>
                <a th:href="'/crew/' + ${crew.id} + '/upvote'">
                    upvote
                </a>
            </td>
        </tr>
    </table>
</body>
</html>