body {
    background-image: url('/images/greenlattice.jpg');
}

#main {
    width: 800px;
    background-color: white;
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}